$bgcolor:#520538;
$font: "Arial";
$fontc: white;
$size: 30px;
$border: 4px double;
$mrg: 15 20%;
$pad: 1% 5%;
body{
  background-color: $bgcolor;
  font-family: $font;
  color: $fontc;
  border: $border;
  margin: $mrg;
  padding: $pad;
}
h1, h2{
  font-size: $size;
  text-align: center;
}
.class{
  -webkit-column-count: 2;
  -moz-column-count: 2;
   column-count: 2;
}